{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
<article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
   
 
    <div class="fw1 f5 mt0 mb3">
        {{- .Content -}}
    </div>
     


    <img src="http://mrmrs.github.io/photos/u/007.jpg" class="db" alt="iceland"/>
      <div class="mt6">
        {{ template "_internal/disqus.html" . }}
      </div>
    </main>

</article>

  
{{ end }}
