<article class="">
    <a class="grow dib no-underline " href="{{ .URL }}">
      <header class="pt1 tc-l">
        <h1 class="dark-blue db f4 ttu tracked-m pa1">{{ .Title }}</h1>
        {{ if .Params.featured_image }}
        <div class="ph6">
          <img src="{{ .Params.featured_image }}" class="br-100 pa1 shadow-1" alt="image from {{ .Title }}">
        </div>
        {{ end }}
      </header>
      <h4 class="h2 pb5 f6 center tc gray measure-narrow">
        {{ .Description }}
      </h4>
    </a>
  </article>